*{
    margin: 0 auto;
    padding: 0 auto;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;    

}
/*estilos svg*/
.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#D5DBE3;}
.st1{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#FFFFFF;
    stroke-width:2.4472;stroke-linecap:round;stroke-linejoin:round;
    stroke-miterlimit:3;}
.st2{fill:#004E27;}
.st3{fill-rule:evenodd;clip-rule:evenodd;fill:#D06A58;}
.st4{fill-rule:evenodd;clip-rule:evenodd;fill:#90C0A1;}
.st5{fill-rule:evenodd;clip-rule:evenodd;fill:#F0C947;}
.st6{fill-rule:evenodd;clip-rule:evenodd;fill:#A3C037;}
.st7{fill-rule:evenodd;clip-rule:evenodd;fill:#8D9DCF;}
.st8{fill-rule:evenodd;clip-rule:evenodd;fill:#D1D086;}
/*estilos info*/
.content{
	position: relative;
	padding: 20px;
	background: #333;
	margin: 10px;
}

.modal {
    position: fixed;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

#carga {
  position: relative;
  width: width: 100%;
  height: 320px;
  overflow: scroll;
  overflow-x:hidden;
}

#carga .contenido {
  width: 100%;
  height: 720px;
}


.modal-content {
    position: relative;
    color: white;
    /*background: url(../img/bg1.svg);*/
    background-color: rgba(46, 139, 87, 0.85);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* border: 1px solid #999; */
    /* border: 1px solid rgba(0,0,0,.2); */
    /* border-radius: 6px; */
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

#icon{
    margin-top: -2px;
}
button.close {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 30px;
    border: 2px solid #fff;
    line-height: 40px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
#btnVer{
    float: right;
    font-size: 14pt;
    width: 39%;
}
#carga{
    overflow-x: hidden;
    height: 500px;
}

svg{
    margin-top: 18px;
}

a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}
/*menu*/
#menu{
    display: inline-flex;
    margin-top: 40px;
}
#Elearning{
    height: 170px;
    margin-top: 0px;
    margin-left: 5px;
    z-index: 1000;
    position: relative;
}
#Magazin{
    height: 170px;
    margin-top: 120px;
    margin-left: 5px;
    z-index: 1000;
    position: relative;
}

#Instruct{
    margin-top: 267px;
    margin-left: 110px;
}
#pdj{
    margin-top: 670px;
    margin-left: -394px;
    z-index: 1000;
    position: relative;
}

/*listas*/
#rtl_func li {
  list-style:none;
  overflow: hidden;
}

#rtl_func ul[id|=f_] li { display:inline}

#rtl_func ul[id|=f_] li:nth-child(4):before {display: block; content: '';}

#rtl_func li.list_root {
  padding-bottom: 20px; 
}

#asoc{
    color: #2D2D2D;
}
.asotitle{
    font-weight: bold;
    font-size: 23px;
    color: #fff;
}
#asotext{
    font-size: 16px;
    color: #fff;
}
#asorepre{
    font-size: 16px;
    color: #fff;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px dashed #f0ad4e!important;
}
/* Mostrar la lista en dos columnas */
ul#rtl_func { 
  columns: 1; 
  -webkit-columns: 1; 
  -moz-columns: 1; 
}

/* no romper los elementos externos */
ul#rtl_func > li { 
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; 
}
/*hover municipios*/

#depMeta:hover{
    fill:#0D6F9C!important;
    transition:All 1s ease-in-out;
    -webkit-transition:All 1s ease-in-out;
    -moz-transition:All 1s ease-in-out;
    -o-transition:All 1s ease-in-out;
}
#laMacarena:hover,#laUribe:hover,
#mesetas:hover,#vistaHermosa:hover,#elDorado:hover,
#cubarral:hover,#guamal:hover,#castillaLanueva:hover,
#acacias:hover,#sancalosdeGuaroa:hover,#villavicencio:hover,
#elCalvario:hover,#sanJuanito:hover,#restrepo:hover,
#cumaral:hover,#lejanias:hover,#elCastillo:hover,
#granada:hover,#sanjuandeArama:hover,#fuentedeOro:hover,
#ptoLleras:hover,#sanMartin:hover,#ptoRico:hover,
#ptoConcordia:hover,#mapiripan:hover,#barrancadeUpia:hover,
#cabuyaro:hover,#ptoGaitan:hover,#ptoLopez:hover {
    fill:#53d0ecfc!important;
    transition:All 1s ease-in-out;
    -webkit-transition:All 1s ease-in-out;
    -moz-transition:All 1s ease-in-out;
    -o-transition:All 1s ease-in-out;
}


/*fondo video*/
#video-viewport { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    z-index: -1; 
}
video { 
    display: block; 
    /*width: 100%; 
    height: auto; */
}
.fullsize-video-bg { 
    height: 100%; 
    overflow: hidden; 
}
.fullsize-video-bg:before { 
    content: "";  
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 0; 
}
.fullsize-video-bg:after { 
    content: ""; 
    background-size: 3px 3px; 
    position: absolute; 
    top: 0; 
    left: 0; 
    /*width: 100%; */
    height: 100%; 
    z-index: 1; 
}
.fullsize-video-bg .inner { 
    display: table; 
    width: 100%; 
    max-width: 24em; 
    height: 100%; 
    margin: 0 auto; 
    padding: 0; 
    position: relative; 
    z-index: 2; 
    text-shadow: 0 1px 5px rgba(0,0,0,.5); 
}
.fullsize-video-bg .inner > div { 
    text-align: center; 
    display: table-cell; 
    vertical-align: middle; 
    padding: 0 2em; 
}
/*fondo video*/

#imagegroup{
    width: 280px;
    height: 225px;
}

#imagegroup img{
    width: 266px;
    height: 221px;
}

#imagenes{
    margin-left: -48px;
}
#Logos{
    margin-top: 152px;
    display: inline-flex;
    margin-left: -77%;
}
#Logos img{
    width: 100%;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media  (min-width : 320px)  and (max-width : 766px) {

    svg {
        margin-top: 270px;
        width: 400px;
        margin-left: -47px;
    } 
    #Instruct {
        width: 148px;
        margin-top: 95px;
        margin-left: -13px;
    }       
}

@media  (min-width : 480px) and (max-width: 767px){
   
    #Instruct {
        width: 147px;
        margin-top: 100px;
        margin-left: -10px;
    }
    #Instruct img {
        width: 100%;
        height: 100%;
    }
    #Logos {
        margin-top: 376px;
        display: inline-flex;
        margin-left: -324%;
    } 
    #pdj {
        margin-top: 709px;
        margin-left: -262px;
        z-index: 1000;
        position: relative;
    }
    #imagegroup {
        width: 160px;
        height: 140px;
    }
    #imagegroup img {
        width: 160px;
        height: 140px;
    }
}

/* Small Devices, Tablets */
@media  (min-width : 768px) {
    .modal {
    top: 0%;
    }
    svg {
        margin-top: 203px;
        width: 568px;
    }
    #Instruct {
        margin-top: 35px;
        margin-left: -182px;
    }
    #Instruct img {
        width: 171px;
        margin-left: 117px;
    }
    #pdj {
        margin-top: 670px;
        margin-left: -333px;
        z-index: 1000;
        position: relative;
    }
    #Logos {
        margin-top: 513px;
        display: inline-flex;
        margin-left: -125%;
    }
    #Logos img {
        width: 210px;
    }
    #magazin{
        height: 170px;
    }
    #Elearning{
        height: 170px;
    }
    #imagegroup {
        width: 190px;
        height: 190px;
    }
    #imagegroup img {
        width: 190px;
        height: 160px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    body{
        background-repeat: no-repeat;
        background-position: center;
    }
    .modal {
        position: fixed;
        top: 5%;
    }
    svg {
        margin-top: 218px;
    }
    #Instruct {
        margin-top: 162px;
        margin-left: 18px;
    }
    #Instruct img {
        margin-top: 106px;
        margin-left: 21px;
        width: 221px;
    }
    #menu {
        display: inline-flex;
        margin-top: 125px;
    }
    #pdj {
        margin-top: 623px;
        margin-left: -341px;
        z-index: 1000;
        position: relative;
    }
    #Logos {
        margin-top: 256px;
        display: inline-flex;
        margin-left: -111%;
    }
    #magazin{
        height: 170px;
    }
    #Elearning{
        height: 170px;
    }
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    svg {
        margin-top: 161px;
        width: 700px;
    }
    #pdj {
        margin-top: 679px;
        margin-left: -311px;
        z-index: 1000;
        position: relative;
    }
    #Instruct img {
        margin-top: 106px;
        margin-left: 50px;
        width: 228px;
    }
    #Logos {
        margin-top: 297px;
        display: inline-flex;
        margin-left: -111%;
    }
    #Logos img {
        width: 282px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1366px) {

        svg {
        margin-top: 18px;
    }
}
@media only screen and (min-width : 1920px) {
   /*menu*/
   #menu{
    margin-top: 125px;
   }
   #Elearning{
        margin-top: 0px;
        margin-left: 5px;
        z-index: 1000;
        position: relative;
    }
    #Magazin{
        margin-top: 120px;
        margin-left: 90px;
        z-index: 1000;
        position: relative;
    }
    svg {
        margin-top: 18px;
        width: 1084px;
    }
    #Instruct img {
        margin-top: 3px;
        margin-left: 59px;
        width: 379px;
    }
    #pdj {
        margin-top: 623px;
        margin-left: -386px;
        z-index: 1000;
        position: relative;
    }
    #Logos {
        margin-top: 186px;
        display: inline-flex;
        margin-left: -74%;
    }
    #Logos img {
        width: 393px;
    }
    
}

/*slider*/